:root {
  --font-main: "Nunito", sans-serif;
  --bcgcolor: #f8faff;
  --namehead: #205b99;
  --boxshadowmain: 0 8px 25px -10px rgba(32, 91, 153, 0.1);
  --color-green: #74c47b;
  --color-aqua: #33aac2;
  --color-off-white: #f8faff;
  --color-light-gray: #f0f4f8;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
  --tw-shadow: 0 0 #0000;
}

html,
body {
  font-family: "Nunito", sans-serif;
  background-color: var(--bcgcolor);
}

.switch-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 10px 0;
}

.switch-btn {
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #ccc;
  color: var(--namehead);
  border-radius: 25px;
  background: #f9f9f9;
  cursor: pointer;
  transition: all 0.2s ease;
}
.h2h2 {
  color: var(--namehead);
}
.switch-btn:hover {
  background: #eee;
}

.switch-btn.active {
  background: var(--namehead);
  color: #ffffff;
}
.admin-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  border-radius: 30px;
  box-shadow: var(--boxshadowmain);
  height: 70vh;
}
.admin-pageup {
  width: 100%;
  margin-top: 20px;
  height: 100vh;
  background-color: var(--bcgcolor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-table {
  width: 80%;
  border-collapse: collapse; /* IMPORTANT */
  margin-top: 16px;
  background: #fff;
}

.admin-table th,
.admin-table td {
  border: 1px solid #ddd; /* CELL BORDERS */
  padding: 10px 12px;
  text-align: left;
}

.admin-table th {
  background-color: #f5f5f5;
  font-weight: 600;
}

.admin-table tr:nth-child(even) {
  background-color: #fafafa;
}

.admin-table tr:hover {
  background-color: #f0f6ff;
}

.logo-login p:nth-of-type(1) {
  color: var(--namehead);
  font-size: 60px;
  margin: 0px;
  font-weight: 800;
}
.logo-login span:nth-of-type(1) {
  color: var(--color-green);
  font-size: 70px;
  margin: 0px;
  font-weight: 800;
}
.logo-login p:nth-of-type(2) {
  font-size: 25px;
  margin: 0px;
  font-weight: 500;
  font-family: var(--font-main);
  opacity: 0.6;
}
.logo-png {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
